h1{
    color: blanchedalmond;
    font-style: unset;
    font-family: fantasy;
    font-size: xx-large;
    background-color: black;
}

p{
    color: darkgoldenrod;
    background-color: cadetblue;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
    color: greenyellow;
}